<div class="card game-card">
  <img
    src="{{background_image}}"
    class="card-img-top"
    alt="{{name}}"
    width="200"
  />
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <a href="/games/game-details/{{id}}" class="btn btn-primary">See Details</a>
    <form action="/favorites" method="post">
      <input type="text" name="name" value="{{name}}" style="display: none;" />
      <input type="text" name="apiId" value="{{id}}" style="display: none;" />
      <input
        type="text"
        name="backgroundImage"
        value="{{background_image}}"
        style="display: none;"
      />
      <button type="submit" class="btn btn-primary">Add to favorites</button>
    </form>
  </div>
</div>