<div class="card game-card">
  <img src="{{background_image}}" class="card-img-top" alt="{{name}}" />
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p><b>Release Date:</b> {{released}}</p>
    <p><b>Metacritic Score:</b> {{metacritic}}</p>
    <div class="card-btn-container">
      <a href="/games/game-details/{{id}}" class="btn general-btn">See Details</a>
      <form action="/favorites" method="post" style="margin:0">
        <input
          type="text"
          name="name"
          value="{{name}}"
          style="display: none;"
        />
        <input type="text" name="apiId" value="{{id}}" style="display: none;" />
        <input
          type="text"
          name="backgroundImage"
          value="{{background_image}}"
          style="display: none;"
        />
        <button type="submit" class="btn general-btn"><i
            class="bi bi-suit-heart"
          ></i>
          Add to Favorites</button>
      </form>
    </div>
  </div>
</div>