<section class="container-fluid games-list">
  {{#each games}}
    <div>
      {{> gameCard this}}
      <form action="/favorites" method="post">
        <input
          type="text"
          name="name"
          value="{{name}}"
          style="display: none;"
        />
        <input type="text" name="apiId" value="{{id}}" style="display: none;" />
        <input
          type="text"
          name="backgroundImage"
          value="{{background_image}}"
          style="display: none;"
        />
        <button type="submit">Add to favorites</button>
      </form>
    </div>
  {{/each}}
</section>

<div>
  <a href="/games/{{previousPage}}">Previous Page</a>
  <a href="/games/{{nextPage}}">Next Page</a>
</div>