<section class="container-fluid games-list">
  {{#each games}}
    <div class="game-card">
      <h5>{{name}}</h5>
      <img src="{{background_image}}" alt="{{name}}" width="200" />
    </div>
  {{/each}}
</section>

<div>
  {{#if previousPage}}
    <a href="{{previousPage}}">Previous Page</a>
  {{/if}}
  {{#if nextPage}}
    <a href="{{nextPage}}">Next Page</a>
  {{/if}}
</div>