<section class="container-fluid game-details-main-container">

  <div class="row title-container">
    <div class="col-12">
      <h1>{{game.name}}</h1>
    </div>
  </div>

  <div class="row game-info-container">
    <div class="col-lg-6 col-12 game-details-container">
      <div class="game-details-picture">
        <img src="{{game.background_image}}" alt="{{game.name}}" />
      </div>

      <div>
        <div class="game-details-btn-container">
          <a class="btn me-2 general-btn" href="{{game.website}}">Website</a>
          <form action="/favorites" method="post" style="margin:0">
            <input
              type="text"
              name="name"
              value="{{name}}"
              style="display: none;"
            />
            <input
              type="text"
              name="apiId"
              value="{{id}}"
              style="display: none;"
            />
            <input
              type="text"
              name="backgroundImage"
              value="{{background_image}}"
              style="display: none;"
            />
            <button type="submit" class="btn general-btn"><i
                class="bi bi-suit-heart"
              ></i>
              Add to Favorites</button>
          </form>
        </div>

        <div class="info-container">
          <div>
            <p><b>Playtime:</b> {{game.playtime}} hours</p>
            <p><b>Release Date:</b> {{game.released}}</p>
            <p><b>Metacritic Score:</b> {{game.metacritic}}</p>
          </div>

          <div>
            <h6><b>Genres:</b></h6>
            {{#each game.genres}}
              <ul>
                <li>{{name}}</li>
              </ul>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-12 game-description-container">
      <p>{{game.description_raw}}</p>
    </div>
  </div>

</section>